{"filter":false,"title":"web.config","tooltip":"/laravel_photo/public/web.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1635237101926,"hash":"a488f644978d1fe3cacd095ebd2e96c126e34e5b"}